@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

.tf-past-events {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 5, 24);
  padding: 40px;
}

.tf-past-events-header {
  justify-content: center;
  color: #fff;
  font-size: 4.8rem;
  text-align: left;
  padding-block: 16px;
  margin-block: 64px;
  letter-spacing: normal;
  font-weight: 900;
}

.tf-past-events-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 40px;
  margin-bottom: 64px;
}

.tf-past-events-img img {
  width: 100%;
  height: 100%;
  max-width: 800px;
  transform: translateY(50vh);
}
.image2 {
  transform: translateY(50vh);
}

.tf-past-events-text-box {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 500px;
  z-index: 5;
}

.text-box-header {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.text-box-write-up {
  width: 100%;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}

.btn-primary {
  color: white;
  background-color: rgb(255, 66, 129);
  text-decoration: none;
  padding: 20px;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  width: 100%;
  transition: background-color 250ms ease;
  z-index: 1000;
}
.btn-primary:hover {
  background-color: rgb(244, 52, 116);
}

@media screen and (max-width: 548px) {
  .tf-past-events-header {
    font-size: 3rem;
  }
  .text-box-header {
    font-size: 24px;
  }
  .text-box-write-up {
    width: 100%;
  }
  .cta-btn {
    font-size: 16px;
  }
  .tf-past-events-text-box {
    margin: 2rem 0;
    padding: 0;
  }

  .tf-past-events-img img {
    transform: translateY(100vh);
  }
  .image2 {
    transform: translateY(-100vh);
  }
}

/* gallery section */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
} */

.tf-gallery-section {
  /* transform: translateY(-7rem); */
  padding: 40px;
  background-color: rgb(0, 5, 24);
}

/* .tf-gallery-heading {
   margin-left: 5.5rem;
   text-align: left;
} */

.tf-gallery-heading {
  justify-content: center;
  color: fff;
  font-size: 4.8rem;
  text-align: left;
  padding-block: 16px;
  margin-block: 64px;
  letter-spacing: normal;
  font-weight: 900;
}

.tf-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 550px;
  grid-auto-flow: dense;
  gap: 24px;
  overflow: hidden;
}

.tf-gallery-container {
  position: relative;
}

.tf-gallery .tf-gallery-container {
  overflow: hidden;
}

.tf-gallery .tf-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.tf-gallery .tf-gallery-container:hover img {
  transform: scale(1.04);
}

#explore-more {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
}

#explore-more a {
  width: 100%;
}

#explore-more h2 {
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
}

#explore-more p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 1100px) {
  #img1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #img7 {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #img8 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 1099px) and (min-width: 800px) {
  #img1,
  #img6,
  #img7,
  #img8,
  #explore-more {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 1200px) {
  .tf-gallery-heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 1100px) {
  /* .tf-gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    } */

  /* #explore-more{
        grid-column-start: 1;
        grid-column-end: 3;
    } */
}

@media (max-width: 1000px) {
  /* .tf-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    } */
  /* #img1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #img7 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #img8 {
        grid-column-start: 1;
        grid-column-end: 4;
    } */
}

@media (max-width: 768px) {
  .tf-past-events-box {
    grid-template-columns: auto;
  }
  .tf-past-events,
  .tf-gallery-section {
    padding: 24px;
  }
  .tf-past-events-header,
  .tf-gallery-heading {
    font-size: 36px;
  }
}

@media (max-width: 548px) {
  .tf-past-events-header,
  .tf-gallery-heading {
    font-size: 32px;
  }

  #explore-more h2 {
    font-size: 24px;
  }

  #explore-more p {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .tf-past-events-header,
  .tf-gallery-heading {
    font-size: 24px;
  }
  .tf-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

footer {
  background-color: rgb(0, 5, 24);
  color: #f0f0f0;
  text-align: center;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid #f0f0f066;
}
